# Ignore Python cache files
__pycache__/
*.pyc

#Ignore Node modules
**/node_modules

# Ignore environment folders and files
**/.env
**/.env.*
env.bat

botenv/
shapenv/
venv/
**/env/
**/venv/
**/.venv/

#Ignore node modules
**/node_modules/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings folder
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore previous models
models/old
