# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python


# Ignore virtual environments
*.env
api/env/
chatbot/env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings folder
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Data and models
chatbot/models/*

# Misc
*.log

# Ignore Rasa cache
.rasa/cache/
